@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: rgb(131, 216, 218);
    --secondary-color: rgb(46, 152, 240);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
}

.container {
    max-width: 640px;
    margin: 3rem auto;
    background: white;
    padding: 1.5rem;
    border-radius: 0.75rem;
}

.main-div .form-result {
    margin: 0 1rem;
}

.main-div form * {
    width: 100%;
    display: block;
    
}

.main-div form input {
    margin-bottom: 1rem;
    height: 40px;
}

.main-div form input:focus {
    outline: 2px solid var(--primary-color);
}

.main-div form button {
    border-radius: 0.25rem;
    border: none;
    background: var(--secondary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 40px;
    cursor: pointer;
    
}
.main-div form button:hover {
    background: var(--primary-color);
    transition: 0.25s;

}

.container h1 {
    margin: 0 auto;
    font-size: 60px;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    text-align: center;
    
}

